entrypoint = "server.js"
modules = ["nodejs-20"]
run = "node server.js"

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "gce"
run = "node server.js"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 43369170
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Start Server"
author = 43369170
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
