modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

hidden = [".pythonlibs"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "npm run dev"]

[workflows]

[[workflows.workflow]]
name = "Start Server"
author = 43369170
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Start Server"
author = 43369170
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
